## Load the dataset

In [ ]:
/* Generated Code (IMPORT) */
/* Source File: Train (2).csv */
/* Source Path: /home/u62467433/Financial Inclusion */
/* Code generated on: 11/08/2023 09:25 */

%web_drop_table(FINANCE.DATA);


FILENAME REFFILE '/home/u62467433/Financial Inclusion/Train (2).csv';

PROC IMPORT DATAFILE=REFFILE
	DBMS=CSV
	OUT=FINANCE.DATA;
	GETNAMES=YES;
RUN;

PROC CONTENTS DATA=FINANCE.DATA; RUN;


%web_open_table(FINANCE.DATA);

## Distribution of bank account

In [ ]:
/* Define Pie template */
proc template;
	define statgraph SASStudio.Pie;
		begingraph;
		entrytitle "Distribution of bank account" / textattrs=(size=14);
		layout region;
		piechart category=bank_account /;
		endlayout;
		endgraph;
	end;
run;

ods graphics / reset width=6.4in height=4.8in imagemap;

proc sgrender template=SASStudio.Pie data=FINANCE.DATA;
run;

ods graphics / reset;

## Distribution of country

In [ ]:
/* Define Pie template */
proc template;
	define statgraph SASStudio.Pie;
		begingraph;
		entrytitle "Distribution of country" / textattrs=(size=14);
		layout region;
		piechart category=country /;
		endlayout;
		endgraph;
	end;
run;

ods graphics / reset width=6.4in height=4.8in imagemap;

proc sgrender template=SASStudio.Pie data=FINANCE.DATA;
run;

ods graphics / reset;

##  Convert uniqueid to numeric

In [ ]:

data FINANCE.DATA; 
    set FINANCE.DATA; 
    
    /* Extract the numeric part of the "uniqueid" column and convert to numeric format */
    new_id = input(scan(uniqueid, 2, "_"), ?? best32.);

run;

## Total number of persons by region and bank_account

In [ ]:

ods graphics / reset width=6.4in height=4.8in imagemap;

proc sgplot data=FINANCE.DATA;
	title height=14pt "Total number of persons by region and bank_account";
	vbar country / response=new_id group=bank_account groupdisplay=cluster 
		stat=freq dataskin=sheen;
	yaxis grid;
run;

ods graphics / reset;
title;

## Total number of persons by location_type and bank_account

In [ ]:
ods graphics / reset width=6.4in height=4.8in imagemap;

proc sgplot data=FINANCE.DATA;
	title height=14pt "Total number of persons by location_type and bank_account";
	vbar location_type / response=new_id group=bank_account groupdisplay=cluster 
		stat=freq dataskin=sheen;
	yaxis grid;
run;

ods graphics / reset;
title;

## Total number of persons by location_type and cellphone_access

In [ ]:

ods graphics / reset width=6.4in height=4.8in imagemap;

proc sgplot data=FINANCE.DATA;
	title height=14pt "Total number of persons by location_type and cellphone_access";
	vbar location_type / response=new_id group=cellphone_access groupdisplay=cluster 
		stat=freq dataskin=sheen;
	yaxis grid;
run;

ods graphics / reset;
title;

## Total number of persons by gender_of_respondent  and bank_account

In [ ]:

ods graphics / reset width=6.4in height=4.8in imagemap;

proc sgplot data=FINANCE.DATA;
	title height=14pt "Total number of persons by gender_of_respondent  and bank_account";
	vbar gender_of_respondent / response=new_id group=bank_account groupdisplay=cluster 
		stat=freq dataskin=sheen;
	yaxis grid;
run;

ods graphics / reset;
title;

## Total number of persons by gender_of_respondent  and age

In [ ]:

/* Define custom format for age grouping */
proc format;
   value age_group
   low -< 20 = 'Under 20'
   20 -< 30 = '20s'
   30 -< 40 = '30s'
   40 -< 50 = '40s'
   50 -< 60 = '50s'
   60 -< 70 = '60s'
   70 -< 80 = '70s'
   80 - high = '80 and above';
run;

/* Apply the age grouping format to the age variable */
DATA data1;
   SET FINANCE.DATA;

   age_group = put(age_of_respondent, age_group.);
RUN;

/* Proportion of Individuals with Bank Accounts by Age Group */
ods graphics / reset width=6.4in height=4.8in imagemap;

proc sgplot data=data1;
	title height=14pt "Total number of persons by gender_of_respondent  and age ";
	vbar age_group / response=new_id group=gender_of_respondent groupdisplay=stack 
		stat=freq dataskin=sheen;
	yaxis grid;
run;

ods graphics / reset;
title;

## Total number of persons by job_type and bank_account

In [ ]:

ods graphics / reset width=6.4in height=4.8in imagemap;

proc sgplot data=FINANCE.DATA;
	title height=14pt "Total number of persons by job_type and bank_account";
	vbar job_type / response=new_id group=bank_account groupdisplay=stack 
		stat=freq dataskin=sheen;
	yaxis grid;
run;

ods graphics / reset;
title;

## Total number of persons by education_level  and education_level

In [ ]:

ods graphics / reset width=6.4in height=4.8in imagemap;

proc sgplot data=FINANCE.DATA;
	title height=14pt "Total number of persons by education_level  and job_type";
	vbar job_type / response=new_id group=education_level groupdisplay=cluster 
		stat=freq dataskin=sheen;
	yaxis grid;
run;

ods graphics / reset;
title;

## Proportion of Individuals with Bank Accounts by Age Group

In [ ]:
/* Define custom format for age grouping */
proc format;
   value age_group
   low -< 20 = 'Under 20'
   20 -< 30 = '20s'
   30 -< 40 = '30s'
   40 -< 50 = '40s'
   50 -< 60 = '50s'
   60 -< 70 = '60s'
   70 -< 80 = '70s'
   80 - high = '80 and above';
run;

/* Apply the age grouping format to the age variable */
DATA data1;
   SET FINANCE.DATA;

   age_group = put(age_of_respondent, age_group.);
RUN;

/* Proportion of Individuals with Bank Accounts by Age Group */
ods graphics / reset width=6.4in height=4.8in imagemap;

proc sgplot data=data1;
	title height=14pt "Proportion of Individuals with Bank Accounts by Age Group";
	vbar age_group / response=new_id group=bank_account groupdisplay=stack 
		stat=freq dataskin=sheen;
	yaxis grid;
run;

ods graphics / reset;
title;

## Proportion of Individuals with cellphone_access by Age Group

In [ ]:

ods graphics / reset width=6.4in height=4.8in imagemap;

proc sgplot data=data1;
	title height=14pt "Proportion of Individuals with Bank Accounts by Age Group";
	vbar age_group / response=new_id group=cellphone_access groupdisplay=stack 
		stat=freq dataskin=sheen;
	yaxis grid;
run;

ods graphics / reset;
title;